<ion-tabs>
  <ion-tab-bar slot="bottom" class="app-tab-bar">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="financeiro" href="/tabs/financeiro">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Financeiro</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="estoque" href="/tabs/estoque">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Estoque</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="relatorios" href="/tabs/relatorios">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Relatorios</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="usuarios" href="/tabs/usuarios">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
